#carritoItem img{
    width: 100px;
    height: 60px;
    object-fit: cover;
    object-position: center;
}

/* NUEVO DISEÑO PARA CARRITO */
#carritoItem .myItem{
    background-color:#525964;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    height: 60px;
    width: 90%;
}
#carritoItem .myItem .counter{
    display: flex;
    flex-direction: column;
    height: 100%;
}
#carritoItem .myItem .counter .mas{
    height: 20px;
    border-top-left-radius: 6px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #006eff;
}
#carritoItem .myItem .counter .menos{
    height: 20px;
    border-bottom-left-radius: 6px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #ff3c3c;
}
#carritoItem .myItem .counter .mas:hover{
    background-color: #378dff;
    transition: .4s;
}
#carritoItem .myItem .counter .menos:hover{
    background-color: #ff6b6b;
    transition: .4s;
}
#carritoItem .myItem .counter .number{
    font-size: 13px;
    margin: 0;
    padding: 0px 3px;
}
#carritoItem .myItem .name-delete{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px 20px;
}
#carritoItem .myItem .name{
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0;
}
#carritoItem .myItem .remove{
    position: absolute;
    right: 10px;
    top: 20px;
}
#carritoItem .myItem .price{
    position: absolute;
    top: -10px;
    left: 113px;
    margin: 0;
    background: #212529;
    border-radius: 7px;
    font-size: 12px;
    padding: 0px 10px;
}
#carritoItem .myItem .remove:hover{
    color: #ff3c3c;
    cursor: pointer;
    transition: .4s;
}