section#productos{
    background-color: #363F4D;
    height: calc(100vh - 68px);
    overflow-y: scroll;
    overflow-x: hidden;
}

section#productos p.price{
    border-radius: 10px;
    background-color: white;
    padding: 0px 7px;
    position: absolute;
    font-weight: bold;
    top: 10px;
    left: 10px;
}
section#productos img.icons{
    position: absolute;
    top: -10px;
    left: -10px;
    width: 20px;
}
section#productos div.empty {
    align-items: center;
    display: flex;
    flex-direction: column;
}
section#productos div.empty img{
    width: 200px;
}
section#productos div.empty h4{
    color: white;
}
section#productos a.add-product::before{
    content: url('../../assets/images/iconos/mas.png');
    margin-right: 10px;
}
section#productos a.add-remove::before{
    content: url('../../assets/images/iconos/minus-sign.png');
    margin-right: 10px;
}
section#productos div.categories-div{
    align-items: center;
    background: #223147;
    border-radius: 6px;
    width: 75vw;
    padding: 0px 20px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    overflow-x: scroll;
}
section#productos div.categories-div button.placeholder{
    animation: placeholderBlue linear infinite 3s;
    background: #a5a5a5;
    border: none;
    border-radius: 6px;
    height: 30px;
    width: 150px;
}
section#productos div.categories-div button{
    width: auto;
    height: auto;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
}
section#productos button.select-category{
    border-radius: 0px 0px 20px 20px;
    border: none;
    background-color: #223147;
}
section#productos button.select-category:hover{
    background-color: #314666;
    transition: .4s;
}
section#productos div.select-category{
    position: fixed;
    width: 100vw;
    display: flex;
    justify-content: center;
    z-index: 100;
}
div.card-producto{
    background-color: #525964 !important;
}

/* SECCIÓN DE ADMIN/PRODUCTOS */
#admin-productos td, th{
    text-align: center;
}

/* LOGIN */
section#login, section#register{
    align-items: center;
    background-color: #363F4D;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}
section#login .container, section#register .container{
    align-items: center;
    display: flex;
    justify-content: center;
}
section#login .data, section#register .data{
    position: relative;
}
section#login .registerLink, section#register .registerLink{
    font-size: 13px;
}
section#login .registerLink a, section#register .registerLink a{
    font-weight: bold;
}
section#login .logo, section#register .logo{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 55px;
}
section#login .error, section#register .error{
    color: rgb(255, 68, 68);
}

/* REGISTER */ 
section#register label{
    font-size: 14px;
    margin-bottom: 2px;
}

/* HOME */
section#home {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
section#home img{
    max-width: 500px;
    min-width: 400px;
}